@model BSUIR.Survey.Domain.PagedEntities<BSUIR.Survey.Domain.Surveys.SurveyInfo>

@section Styles
{
    <link rel="stylesheet" href="~/css/surveyList.css" />
    <link rel="stylesheet" href="~/css/table.css" />
}

@{
    ViewData["Title"] = "Survey List";
}

@section Footer {
    <div class="u-clearfix u-sheet u-sheet-1"></div>
}

<div class="block-after-header gray-color"></div>

<div class="block-before-footer light-gray-color">
    <div class="center text-style-size-16">
        
        <div class="table-header">
            <div class="num-items-per-page-main-block">
                <div class="num-items-per-page-label">Show</div>
                <div class="num-items-per-page-block">
                    <div class="num-items-per-page-input-block">
                        <input type="number" id="itemCountPerPage" class="form-control" min="1" max="100" asp-for="ItemCountPerPage"/>
                    </div>
                </div>
                <div class="num-items-per-page-label">surveys</div>
            </div>
            <div class="search-block">
                <div class="search-input-block">
                    <input type="text" class="form-control" id="searchKeyWord">
                </div>
                <div class="search-label-block">
                    Search:
                </div>
            </div>
        </div>

    
        <table class="table" id="surveysTable" style="visibility:hidden;">
            <thead class="blue-color">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col" class="central-content">Creation date</th>
                    <th scope="col" class="central-content">Answers</th>
                    <th scope="col" class="central-content">Link</th>
                    <th scope="col" class="central-content">Results</th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </table>

        <div class="table-footer" id="surveysTableFooter" style="visibility:hidden;">
            <div class="showing-pages-block" id="tableFooterText">
            </div>
            <div class="pages-navigation-block">
                <input asp-for="PageIndex" name="pageIndex" id="pageIndex" type="hidden" value="@Model.PageIndex"/>

                <partial name="_PaginationPartial"/>
            </div>
        </div>

        <div class="surveys-not-found-message" style="visibility:hidden;" id="surveysNotFoundMessage">
            Surveys not found!
        </div>
        
        <div class="white-line-block"></div>
    </div>
</div>

<script type="module">

    import * as surveyList from '../js/surveysList.js';


    document.addEventListener('DOMContentLoaded', function () {
        surveyList.updateSurveyList();
    });

    document.getElementById("itemCountPerPage").addEventListener("change", e => {
        e.preventDefault();
        surveyList.updateSurveyList();
    });

    document.getElementById("searchKeyWord").addEventListener("change", e => {
        e.preventDefault();
        surveyList.updateSurveyList();
    });

    document.getElementById("pageIndex").addEventListener("change", e => {
        e.preventDefault();
        surveyList.updateSurveyList();
    });

</script>
