@model BSUIR.Survey.WebApp.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/register.css" />
}


@section Footer {
    
}

<div class="center text-style-size-16">
    <h1 class="center-header">@ViewData["Title"]</h1>
    <div>
        <form method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="register-button-block">
                <button type="submit" class="btn btn-primary register-button">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}